#content{
    text-align: left;
    max-width: 35%;
    margin: 0 auto;
    border: black solid thin;
    padding: 2.5%
}

#p1{
    margin-top: 40px;
}

#p2{
    font-style: italic;
    
}

select{
    margin-bottom: 70px;
}

li{
    padding: 10px;
    
}
h1{
    font-size: 3rem;
}

h2{
    font-size: 1em ;
    margin-bottom: -10px;
    color: #3469a9;
    padding-bottom: 25px;
    border-bottom: solid black thin;
}

img{
    max-width: 30%;
    display: block;
    margin: 50px auto;
}

#p1,#p2,li{
    font-size: .9em;
}

h1, h2 ,h3{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}